.animateBlob {
  animation: blobPulse 6s ease-in-out infinite;
  transform-origin: center;
  will-change: transform;
}

@keyframes blobPulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
